main {
  display: flex ;
  flex-flow: row wrap ;
  box-sizing: border-box;
}

header, nav, article, section, aside {
  width: 100% ;
  min-width: 75px ;
  min-height: 100px ;
  border-radius: 6px ;
  text-align: center ;
}

header {
  background-color: #02A6F5 ;
}

nav {
  background-color: #02EFFF ;
}

article {
  background-color: #02FF81 ;
}

section {
  background-color: #0AE8B8 ;
}

.sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
  background-color: #8AE8DC ;
}

aside {
  background-color: #02F537 ;
}

@media (min-width: 600px) {
  .sec1-1, .sec1-2, .sec1-3, .sec1-4 {
    width: 50% ;
  }

  .sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 50% ;
  }

}

@media (min-width: 800px) {
  .head1, .head2 {
    width: 50% ;
  }

  article {
    width: 33.33% ;
  }

  .sec1-1, .sec1-2, .sec1-3, .sec1-4 {
    width: 25% ;
  }

  .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 25% ;
  }

  .sec2-1, .sec2-2 {
    width: 50% ;
  }

}

@media (min-width: 1000px) {
  .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 16.66% ;
  }
  .sec2-1, .sec2-2, .sec2-3, .sec2-4 {
    width: 25% ;
  }
}

@media (min-width: 1200px) {
  .sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 10% ;
  }
}
