body {
  margin: 0px;
}

main {
  display: flex ;
  flex-flow: row wrap ;
  box-sizing: border-box;
}

header, nav, article, section, aside {
  width: 100% ;
  min-width: 75px ;
  min-height: 100px ;
  text-align: center ;
}

nav {
  background: -webkit-linear-gradient(-75deg, #06a5ff, #02EFFF) ;
  min-height: 60px;
  font-family: 'Arcon' ;
  color: #ffffff ;
  padding-top: 30px ;
}

nav > a {
  text-decoration: none ;
  color: #6e6e6e ;
  transition: color 200ms ease-in-out ;
}

nav > a:hover {
  color: #ffffff ;
}

nav > a.current {
  text-decoration: underline ;
}

header {
  background-color: #026bf5 ;
  font-family: 'Acre' ;
  font-size: 70px ;
}

.head1 {
  text-align: center ;
  color: #8af2d7 ;
}

.head2 {
  text-align: center ;
  transition: color 200ms ease-in-out ;
}

.head2 > a {
  text-decoration: none ;
  color: #000000 ;
  transition: color 200ms ease-in-out ;
}

.head2 > a:hover {
  color: #8af2d7 ;
}

.cat-head {
  font-size: 30px ;
}

article {
  background-color: #02FF81 ;
  font-family: 'Acre' ;
  text-align: center ;
  color: #529ef6 ;
  font-size: 25px ;
}

.art2 {
  color: #000000 ;
}
section {
  font-family: 'Acre' ;
}

.sec1-1, .sec1-3 {
  font-size: 30px ;
}

.sec1-2 > img {
  max-width: 100% ;
  max-height: 100% ;
}

#aboutme {
  font-size: 20px ;
}
#github-pic > a > img {
  max-width: 50% ;
  max-height: 50% ;
}

.sec1-4 {
  padding-bottom: 10px ;
}

.sec1-4 > img {
  max-width: 60% ;
  max-height: 60% ;
}

.sec2-1 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-2 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-3 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-4 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-5 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-6 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-7 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-8 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-9 > img {
  max-width: 100% ;
  max-height: 100% ;
}

.sec2-10 > img {
  max-width: 100% ;
  max-height: 100% ;
}
.sec1-1, .sec1-2, .sec1-3, .sec1-4 {
  background-color: #0AE8B8 ;
}

.sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
  background-color: #8AE8DC ;
  font-size: 25px ;
}

aside {
  background-color: #02F537 ;
}

@media (min-width: 600px) {
  .sec1-1, .sec1-2, .sec1-3, .sec1-4 {
    width: 50% ;
  }

  .sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 50% ;
  }

}

@media (min-width: 800px) {
  .head1, .head2 {
    width: 50% ;
    padding-top: 20px ;
  }

  .head1 {
    text-align: right ;
  }

  .head2 {
    text-align: left ;
  }

  .art1, .art2, .art3 {
    width: 33.33% ;
    padding-top: 15px ;
  }

  .art1 {
    text-align: right ;
  }

  .art3 {
    text-align: left ;
  }

  .sec1-1, .sec1-2, .sec1-3, .sec1-4 {
    width: 25% ;
    padding-top: 15px ;
  }

  .sec1-1 {
    text-align: right ;
  }

  .sec1-4 {
    text-align: left ;
  }

  .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 25% ;
  }

  .sec2-1, .sec2-2 {
    width: 50% ;
  }

}

@font-face {
  font-family: 'Acre' ;
  src: url('../fonts/acre-medium-webfont.ttf');
}

@font-face {
  font-family: 'Arcon' ;
  src: url('../fonts/Arcon-Rounded-Regular.otf');
}

@font-face {
  font-family: 'Aaargh' ;
  src: url('../fonts/Aaargh.ttf');
}

@media (min-width: 1000px) {
  .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 16.66% ;
  }
  .sec2-1, .sec2-2, .sec2-3, .sec2-4 {
    width: 25% ;
  }
}

@media (min-width: 1200px) {
  .sec2-1, .sec2-2, .sec2-3, .sec2-4, .sec2-5, .sec2-6, .sec2-7, .sec2-8, .sec2-9, .sec2-10 {
    width: 10% ;
  }
}
