html {
  height: 100% ;
}

.sky-default {
  background: -webkit-linear-gradient(#C6E4EE 0%, #C6E4EE 40%, #FED1AE 60%, #FAA0B9 70%, #CB7DCB 80%, #757ECB 100%);
  background: -moz-linear-gradient(#C6E4EE 0%, #C6E4EE 40%, #FED1AE 60%, #FAA0B9 70%, #CB7DCB 80%, #757ECB 100%);
  background: -o-linear-gradient(#C6E4EE 0%, #C6E4EE 40%, #FED1AE 60%, #FAA0B9 70%, #CB7DCB 80%, #757ECB 100%);
  background: linear-gradient(#C6E4EE 0%, #C6E4EE 40%, #FED1AE 60%, #FAA0B9 70%, #CB7DCB 80%, #757ECB 100%);
}

.sky-00 { background: #00000c; }
.sky-01 { background: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-02 { background: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-03 { background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-04 { background: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-05 { background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-06 { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-07 { background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-08 { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-09 { background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.sky-10 { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-11 { background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-12 { background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-13 { background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%); }
.sky-14 { background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%); }
.sky-15 { background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%); }
.sky-16 { background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%); }
.sky-17 { background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); }
.sky-18 { background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%); }
.sky-19 { background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); }
.sky-20 { background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%); }
.sky-21 { background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); }
.sky-22 { background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); }
.sky-23 { background: linear-gradient(to bottom, #00000c 80%,#150800 100%); }


.container {
  display: flex ;
  flex-flow: row wrap ;
}

.container-night {
  display: flex ;
  flex-flow: row wrap ;
  background-color: rgba(190, 190, 190, 0.4) ;
}

div.search {
  /*background-color: #888888 ;*/
  margin-top: 50px ;
  text-align: center ;
  border-radius: 7px ;
  height: auto ;
  white-space: nowrap ;
  font-size: 25px ;
  font-family: 'Roboto', sans-serif;
  width: 100% ;
}

.search > button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 25px;
  background: #b0b0b0;
  padding: 5px 10px 5px 10px;
  border: solid #5e5e5e 5px;
  text-decoration: none;
}

.search > button:hover {
  color: black ;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a17fc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #888;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2a17fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-bar {
  width: 40% ;
  padding: 5px 10px ;
  opacity: 0.4 ;
  border: 3px solid #ccc ;
  font-size: 15px ;
}

.search-bar:focus {
  border: 3px solid #555;
}

#weatherInfo {
  width: 100% ;
  padding: 10px ;
  /*background-color: red ;*/
  font-family: 'Roboto', sans-serif;
  text-align: center ;
  display: inline-block ;
  font-size: 25px ;
}

.fiveDayForecast {
  display: flex ;
  flex-flow: row wrap ;
  width: 100% ;
  padding-top: 10px ;
}
.day1, .day2, .day3, .day4, .day5 {
  width: 100% ;
  background-color: rgba(158, 158, 158, 0.4) ;
  text-align: center ;
  font-family: 'Roboto', sans-serif ;
  padding-top: 10px ;
}

@media only screen and (min-width: 300px) and (min-device-width: 300px) {
  .search-bar {
    font-size: 20px ;
  }
}

@media only screen and (min-width: 600px) and (min-device-width: 600px) {
  .search-bar {
    font-size: 25px ;
    opacity: 0.4 ;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: auto ;
  }

  .search > button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 20px;
    background: #b0b0b0;
    padding: 15px 28px 11px 28px;
    border: solid #5e5e5e 5px;
    text-decoration: none;
  }

}

@media only screen and (min-width: 800px) and (min-device-width: 800px) {
  .day1, .day2, .day3, .day4{
    width: 50% ;
  }
  .day5 {
    width: 100% ;
  }
}

@media only screen and (min-width: 1000px) and (min-device-width: 1000px) {
  .day1, .day2, .day3, .day4, .day5 {
    width: 20% ;
  }
}
